body {
    background-color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
form {
    background-color: #ed74d9;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
}